.nav-wrap {
  display: flex;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 10px 14px;
  background-color: #EDEDED;
  /* transition: visibility .6s, opacity .4s; */
}

.nav-wrap :last-child {
  align-self: center;
}

.nav-wrap_open {
  opacity: 1;
  visibility: visible;
}

.nav {
  display: flex;
  font-family: 'Roboto-medium', Arial, Helvetica, sans-serif;
  padding: 0;
}

.nav li::before {
  content: none;
}

.nav_mobile {
  flex-direction: column;
  margin: 30px 0 20px;
}

.nav_mobile li {
  align-self: center;
  font-size: 40px;
  line-height: 42px;
}

.nav__item {
  margin-right: 22px;
}

.nav__item_mobile,
.nav__item:nth-last-child(1) {
  margin-right: 0;
}

.a-menu, .nav__item {
  font-size: 26px;
  letter-spacing: .7px;
  line-height: 0px;
}

.a-mobile {
  font-size: 40px;
}

.mobile-header {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 500px) {
  .nav-wrap {
    padding: 10px 30px;
  }
}

@media (min-width: 720px) {
  .nav-wrap {
    visibility: hidden;
  }

  .nav-wrap_open {
    visibility: hidden;
  }

  .nav_screen_big {
    display: none;
  }
}

@media (max-width: 720px) {
  .nav {
    display: none;
  }

  .nav_mobile {
    display: flex;
  }
}