.card {
  background-color: #ffffff;
  border-radius: 6px;
  width: 100%;
  padding: 30px 14px;
}

.card__h6 {
  font-size: 22px;
  line-height: 26px;
  margin: 30px 0 2px;
}

.card__ul {
  margin-bottom: 16px;
}

.card__p, 
.card__ul, 
.card__ol {
  font-size: 19px;
  margin-top: 0;
}

.card__p,
.card__ul, 
.card__ol {
  line-height: 26px;
}

.card__p_first {
  margin-top: 8px;
}

.card__ol li {
  margin: 8px 0 14px;
}

.card__ul li {
  margin: 8px 0 8px;
}

.card__ol {
  padding-left: 20px;
}

.card__a,
.card__a_size_medium,
.card__a_size_big {
  width: fit-content;
}

.card__a {
  font-size: 19px;
  line-height: 21px;
  margin: 8px 0;
}

.card__a_block {
  display: block;
}

.card__a_size_medium {
  font-family: 'Roboto-medium', Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 26px;
  margin: 21px 0 12px;
}

.card__a_size_big {
  display: inline-block;
  font-family: 'Roboto-bold', Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: .5px;
  margin: 0 0 4px;
}

.card__anchor {
  visibility: hidden;
}

@media (min-width: 500px) {
  .card {
    padding: 30px;
  }
}