.anchor-nav-wrap {
  margin: 0 auto;
  width: 318px;
  margin-top: 40px;
}

.anchor-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.anchor-nav__item {
  padding: 5px 20px;
  margin-bottom: 16px;
  border-radius: 24px;
  font-size: 19px;
  color: #282828;
  background-color: #FFB800;
  transition: .2s;
}

.anchor-nav__item:hover {
  color: #282828;
  filter: brightness(110%);
}

.anchor-nav__item:nth-child(odd) {
  margin-right: 0;
}

@media (min-width: 360px) {
  .anchor-nav {
    flex-direction: row;
  }

  .anchor-nav__item:nth-child(odd) {
    margin-right: 14px;
  }
}