body {
  font-size: 10px;
  background-color: black;
}
.wrapper {
  background-image: url(../img/winter1080.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  visibility: hidden;
  width: 100%;
  height: 100vh;
}
.info {
  position: absolute;
  z-index: 999; 
  bottom: 75px;
  right: 35px;
}
.info h1 {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 2rem;
  color: white;
}
.days {
  font-size: 3.2rem;
  font-weight: 700;
  /* vertical-align: middle; */
}
.animationWrapper {
animation-name: bgAnimation;
-webkit-animation-name: bgAnimation; 
animation-duration: 2.5s; 
-webkit-animation-duration: 2.5s;
animation-timing-function: ease-out; 
-webkit-animation-timing-function: ease-out; 
visibility: visible; 
}
@keyframes bgAnimation {
  from {
    filter: brightness(0);
  }
  to {
    filter: brightness(1);
  }
}