.header-wrap {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 22px;
  background-color: #E8F3FF;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}