.header-wrapper {
  width: 100%;
  position: fixed;
  z-index: 99;
}

.header-wrap {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background-color: #E8F3FF;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

@media (min-width: 500px) {
  .header {
    padding: 10px 30px;
  }
}