.up {
  width: 100%;
  text-align: end;
  cursor: pointer;
  transition: .2s;
}

.up:hover {
  filter: brightness(105%);
}

.up__item {
  display: inline-block;
  width: 36px;
  height: 36px;
}