@font-face {
  font-family: 'IBM-plex-serif';
  src: url('./assets/fonts/ibm-plex-serif-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/roboto-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto-bold';
  src: url('./assets/fonts/roboto-bold-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto-medium';
  src: url('./assets/fonts/roboto-medium-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto-italic';
  src: url('./assets/fonts/roboto-italic.woff2') format('woff2');
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
  background-color: #EDEDED;
  color: #000000;
}

h1 {
  font-family: 'IBM-plex-serif', 'Times New Roman', Times, serif;
  font-size: 48px;
  line-height: 50px;
}

h2 {
  font-family: 'Roboto-medium', Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 42px;
  margin: 50px 0 8px;
}

h3 {
  font-family: 'Roboto-medium', Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 36px;
  margin: 65px 0 6px;
}

.h3-first {
  margin-top: 40px;
}

h4 {
  font-family: 'Roboto-medium', Arial, Helvetica, sans-serif;
  font-size: 27px;
  line-height: 30px;
  margin: 30px 0 2px;
}

h5 {
  font-family: 'Roboto-bold', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
}

h6 {
  font-family: 'Roboto-medium', Arial, Helvetica, sans-serif;
  font-size: 23px;
  line-height: 25px;
  margin: 20px 0 6px;
}

h1, h2, h4, h5 {
  text-align: center;
}

.h6-resume {
  margin-top: 20px;
}

i {
  font-family: 'Roboto-italic', Arial, Helvetica, sans-serif;
  font-style: italic;
}

b {
  font-family: 'Roboto-medium', Arial, Helvetica, sans-serif;
}

a {
  font-family: 'Roboto-medium', Arial, Helvetica, sans-serif;
  color: #484FFF;
  text-decoration: none;
  transition: .2s;
}

a, p, ul, .github-logo-link {
  font-size: 22px;
  line-height: 28px;
}

a:hover {
  color: #488eff;
}

.a-content-links {
  display: inline-block;
  margin-bottom: 5px;
}

p {
  margin: 4px 0 16px;
}

.p-first {
  margin-top: 16px;
}

li {
  margin: 16px 0;
}

ul {
  list-style-type: none;
}

ul > li::before {
  content: '\2013\00A0';
  color: #ffb800;
}

.logo_link,
.burger,
.close,
.contacts__item,
.up__item {
  transition: .2s;
}

.logo_link:hover,
.burger:hover,
.close:hover,
.contacts__item:hover,
.up__item:hover {
  transform: scale(1.05);
}

.id-block {
  height: 60px;
}

.id-block-first {
  height: 20px;
}

.anchor-nav-wrapper {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content_page_resume {
  margin-top: 20px;
}

.odivus-photo {
  height: 220px;
  width: 220px;
  margin: 0 0 18px;
  background-color: #fbde92;
  border-radius: 50%;
}

.odivus-photo__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 104px 0 60px;
}

.content-wrap {
  padding: 0 14px;
}

.github-logo {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.github-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.github-logo-link a {
  line-height: normal;
}

.p-marker {
  margin: 10px 0 12px;
}

.p-download {
  line-height: 36px;
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.text-marker {
  background-color: #fffb0070;
}

@media (min-width: 500px) {
  .content-wrap {
    padding: 0 30px;
  }
}